@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;


$bg-dark: #222324;
$text-light: #ffffff;
$text-muted: #c7c7c7;
$accent: #aa1e1e;

.section01 {
  height: 100vh;
  display: flex;
  justify-content: center;


  .overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    background: linear-gradient(5deg, rgba(0, 0, 0, 1) 10%, rgba(232, 28, 38, 0) 100%);
    left: 0px;
    top: 0px;
  }

  .sectionContent {
    width: $max_page_width;
    position: relative;

    .showCase {
      width: 100%;
      height: 100%;


      .showCaseContent {
        display: grid;
        color: $text-light;
        position: relative;
        overflow: hidden;
        padding: $padding-section-content;
        height: 100%;

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2;


          h1 {
            @include title_size;
            margin-bottom: 25px;

            span {
              color: $primary-red-color;
            }

          }

          p {

            color: $text-muted;
            margin-bottom: 40px;
            @include paragraph_size;
          }

          .actions {
            display: flex;
            gap: 20px;



            button {
              padding: 14px 28px;
              font-size: 1rem;
              font-weight: 600;
              border-radius: 8px;
              cursor: pointer;
              transition: all 0.3s ease;
              min-width: 150px;
              @include mainBackgroundColor;
              border: 1px solid $border-color-v2;

              &:hover {
                border: 1px solid $primary-red-color;
              }

              a {
                text-decoration: none;
                color: $primary-white
              }

            }
          }
        }




        // .right {
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   position: relative;
        //   z-index: 2;
        //   height: 100%;
        //   .container{
        //     height: 100%;
        //     width: 100%;
        //     background-image: url("../../assets/images/carton-image-3.png");
        //     @include backgoundImageCenter;

        //   }

        // }
      }

      // media query
      @media (max-width: 768px) {
        .showCaseContent {
          justify-content: center;
          align-items: center;

          .left {
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
      }

    }
  }
}

.section02 {
  width: 100vw;
  height: 100vh;
}