@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;


$bg-dark: #222324;
$text-light: #ffffff;
$text-muted: #c7c7c7;
$accent: #aa1e1e;

.section01 {
  width: $full_page_width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  @include backgroundImageCenter("../assets/images/space-seven.jpg");

  .overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    background: linear-gradient(5deg, rgba(0, 0, 0, 1) 10%, rgba(232, 28, 38, 0) 100%);
    left: 0px;
    top: 0px;
  }


.skills_slider_container {
  width: 100%;
  overflow: hidden;
  position: relative;

  .slider {
    overflow: hidden;
    width: 100%;

    .slideTrack {
      display: flex;
      justify-content: space-around;
      animation: scroll 20s linear infinite;
      will-change: transform;
    }

    &:hover .slideTrack {
      animation-play-state: paused;
    }
  }

  .icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 3rem;
    color: $color-gray-02;
  }
}


/* Keyframes must use translateX and percent unit */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


  .sectionContent {
    width: $full_page_width;

    position: relative;
    height: 100%;


    .showCase {
      width: 100%;
      height: 100%;

      .showCaseContent {
        display: grid;
        color: $text-light;
        position: relative;
        overflow: hidden;
        padding: $padding-section-content;
        height: 100%;

        .left {
          width: $max_page_width;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2;



          h1 {
            @include title_size;
            margin-bottom: 25px;

            span {
              color: $primary-red-color;
            }

          }

          p {

            color: $text-muted;
            margin-bottom: 40px;
            @include paragraph_size;
          }

          .actions {
            display: flex;
            gap: 20px;



            button {
              padding: 14px 28px;
              font-size: 1rem;
              font-weight: 600;
              border-radius: 8px;
              cursor: pointer;
              transition: all 0.3s ease;
              min-width: 150px;
              @include mainBackgroundColor;
              border: 1px solid $border-color-v2;

              &:hover {
                border: 1px solid $primary-red-color;
              }

              a {
                text-decoration: none;
                color: $primary-white
              }

            }
          }
        }



      }




      // media query
      @media (max-width: 768px) {
        .showCaseContent {
          justify-content: center;
          align-items: center;
          height: 100%;

          .left {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;

            p {
              white-space: pre-wrap; // respects <br /> and wraps text
              word-wrap: break-word; // allows long words to break
              overflow-wrap: break-word; // modern equivalent for safety
              line-height: 1.6; // better readability
              color: #ddd;
            }

          }
        }
      }


    }




  }



}


.section02 {
  width: 100vw;
  height: 100vh;
}