@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;


.main_container {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include mainBackgroundColor;

    .showCase {
        height: 500px;
        width: 100%;
        background-color: rgb(0, 132, 255);
        background-image: url("../../assets/images/contact.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 100%, 0% 50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .showcase_text {
            text-align: left;
            color: $primary-white;
            width: $max_page_width;
            padding-left: 100px;

            .text_content {
                width: 60%;

                h1 {
                    @include title_size;
                    margin: 0;
                    margin-bottom: 10px;
                }

                p {
                    @include paragraph_size;
                }

            }


        }

    }

    // ---------------- Section 1 ----------------
    .section_1 {
        width: 100%;
        max-width: 900px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;
        height: auto;
        padding: 40px;
        box-sizing: border-box;
        box-shadow: 2px 2px 8px #000000a1;
        border-radius: 10px;
        margin-top: -100px;
        background-color: $primary-white;
        margin-right: 10px;
        margin-left: 10px;
        z-index: 1;
        gap: 10px;

        .contact_info {
            width: 40%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
            }

            p {
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
                @include paragraph_sizeV2;
            }

            .email_card,
            .address_card,
            .phone_card {
                display: flex;
                margin-bottom: 10;
                align-items: center;


                .icon {
                    border-radius: 50%;
                    background-color: $primary-red-color;
                    height: 40px;
                    width: 40px;
                    display: grid;
                    place-content: center;
                    margin-right: 20px;


                    svg {
                        font-size: 20px;
                        padding: 0;
                        margin: 0;
                        color: $primary-white;
                    }

                }

                .icon_text {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }


                p {
                    font-size: 13px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .form_container {
            width: 60%;
            max-width: $max_page_width;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; // allows stacking on small screens
            justify-content: space-between;
            box-sizing: border-box;
            position: relative;
            margin-left: 10px;

            .form {
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;

                .flex_form {
                    display: flex;
                    justify-content: space-between;
                    gap: 5px;
                }

                input {
                    margin-bottom: 10px;
                    width: 100%;
                }

                textarea {
                    height: 110px;
                }

                button {
                    background-color: black;
                    width: 100%;
                }
            }

            h2 {
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }

    // ---------------- Section 2 ----------------
    .section_2 {
        width: 100%;
        height: 500px;
        background-color: $primary-white;
        box-sizing: border-box;
        border: 1px solid rgb(224, 224, 224);

        .map {
            width: 100%;
            height: 100%;
            border: none;

            iframe {
                width: 100%; // responsive
                max-width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

// ---------------- Media Queries ----------------
@media (max-width: 768px) {

    .section_1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact_info {
            width: 100% !important;

            .email_card,
            .address_card,
            .phone_card {
                padding: 0;
                margin: 10px 0px !important;

            }
        }

        .form_container {
            width: 100% !important;
            margin-top: 20px;

            .form {
                h2 {
                    font-size: 20px !important;
                }
            }
        }
    }

    .section_1 .wrapper,
    .section_3 {
        flex-direction: column;
        align-items: center;
    }

    .section_2 {
        height: 300px; // smaller height for mobile
    }

    .showcase_text {
        width: 100% !important;
        text-align: center !important;
        padding: 0px 10px !important;
    }
}

@media (max-width: 480px) {

    .section_1 .wrapper .email_card,
    .section_1 .wrapper .address_card,
    .section_1 .wrapper .phone_card {
        min-width: 100%; // cards take full width on very small screens
    }

    .section_3 .form,
    .section_3 .user_info {
        flex: 1 1 100%; // stack vertically
        margin: 0 0 20px 0;
    }

    .showcase_text {
        width: 100% !important;
        text-align: center !important;

        .text_content {
            width: 100% !important;

            h1 {
                font-size: 25px !important;
            }

            p {
                font-size: 13px !important;
            }
        }
    }
}