
@import url("https://fonts.cdnfonts.com/css/huntesla-gloficka");
@import url("https://fonts.cdnfonts.com/css/utopia-std");

:root{
    font-family: 'Chivo Mono', sans-serif;
    padding:0px;
    margin:0px;
 
}

body{
    margin:0;
    padding:0;
}