@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main_container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    @include center;
    @include mainBackgroundColor;

    .showcase {
        width: $max_page_width;
        margin-top: 100px;
        height: 800px;
        display: flex;

        .leftSide {
            width: 40%;
            height: 100%;
            margin-right: 20px;
            padding: 10px;
            position: relative;

            .welcome {
                position: absolute;
                left: -10px;
                color: $primary-white;
                @include mainBackgroundColor;
                top: 10%;
                z-index: 1;
                padding: 30px;
                border-radius: 20px;
                clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);

            }

            .image_container {
                clip-path: polygon(100% 10%, 100% 51%, 100% 89%, 0 96%, 5% 50%, 0 0);
                width: 100%;
                height: 100%;
                background-image: url("../../assets/images/aboutme.jpg");
                @include backgoundImageCenter;
                border-radius: 10px;
                box-shadow: 1px 1px 1px 2px black;

            }
        }

        .rightSide {
            width: 60%;
            height: 100%;
            color: $primary-white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 10px;
            padding: 10px;

            h1 {
                margin: 0;
               @include title_sizeV2;

                span:nth-child(2) {
                    color: $primary-red-color;
                }
            }

            h2 {
                margin: 0;
                color: $primary-red-color;
                margin-bottom: 20px;
                font-size: clamp(1.2rem, 2.5vw, 2rem); // scales between ~19px and ~32px
            }

            p {
                @include paragraph_size;
            }
        }


    }
}


@media (max-width: 768px) {
    .showcase {
        flex-direction: column;
        height: 100% !important;


        .leftSide {
            height: 700px !important;
            width: 100% !important;

        }

        .rightSide {
            width: 100% !important;
            text-align: center;


        }
    }
}